[about] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
    justify-items: center;
    margin-bottom: 15px;
}

[about] img{
    max-width: 100%;
    max-height: 256px;
    height: auto;
    display: grid;
}

[about] img#officialCrest {
    grid-column-start: 1;
}

[about] div#quickFacts {
    grid-column-start: 2;
    font-size: large;
}

[about] img#officialSymbol {
    grid-column-start: 3;
}

